// app global css in SCSS form

$backgroud: #2e3440;
$text: #d8dee9;

.full-screen {
  height: 100vh;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.lobster {
  font-family: "Lobster", cursive;
}

.bg-section {
  background-color: $backgroud;
}

.radius-16 {
  border-radius: 16px;
}

p {
  font-size: 18px;
}

body.body--dark {
  background-color: #3b4252;
  color: $text;
  font-family: "Rubik", sans-serif;
}
