// app global css in SCSS form

@import url(./layeredWaves.scss);

$backgroud: #3b4252;
$text: #eceff4;

.full-screen {
  height: 100vh;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.lobster {
  font-family: "Lobster", cursive;
}

.bg-section {
  background-color: $backgroud;
}

.radius-16 {
  border-radius: 16px !important;
}

.btn {
  background-color: #59738b;
  padding: 10px 15px;
}

.bg-blur {
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.q-dialog__backdrop {
  transition: 500ms;
  backdrop-filter: blur(7px);
}

p {
  font-size: 18px;
}

a {
  color: $text;

  &:hover {
    text-decoration: none;
  }
}

body.body--dark {
  background-color: $backgroud;
  color: $text;
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: #eceff4;

  &:hover {
    background-color: #d8dee9;
  }
}
