<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- Primary Meta Tags -->
    <title>BM Computers | We manage hardware, software and more...</title>
    <meta
      name="title"
      content="BM Computers | We manage hardware, software and more..."
    />
    <meta
      name="description"
      content="
 BM Computers is a Beit Mery based and standard computer repair Store. We are a computer repair company that is set to compete in the highly competitive computer repair services industry."
    />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta
      property="og:title"
      content="BM Computers | We manage hardware, software and more..."
    />
    <meta
      property="og:description"
      content="
BM Computers is a Beit Mery based and standard computer repair Store. We are a computer repair company that is set to compete in the highly competitive computer repair services industry."
    />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/912888928749645896/917088769516130304/BMC-Mobile.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta
      property="twitter:title"
      content="BM Computers | We manage hardware, software and more..."
    />
    <meta
      property="twitter:description"
      content="
BM Computers is a Beit Mery based and standard computer repair Store. We are a computer repair company that is set to compete in the highly competitive computer repair services industry."
    />
    <meta
      property="twitter:image"
      content="https://cdn.discordapp.com/attachments/912888928749645896/917088769516130304/BMC-Mobile.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lobster"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
